*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: silver;
    color: white;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    background: slategray;
    border-radius: 10px;
}






@media (max-width: 576px){
    body{
        background-color: aqua;
            }
    nav { 
        flex-direction: column;
        align-items: flex-start; 
    }
    nav ul { 
        flex-direction: column; 
        gap: 10px; 

    }
    ul{
        padding-left: 20px;
        list-style-position: inside;
    }
    

}

@media (min-width: 577px) and (max-width: 768px){
    body{
        background-color: blueviolet;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    body{
        background-color: brown;
    }
}

@media (min-width: 1025px){
    body{
        background-color: yellow;
    }
}